<!--  Contents of the following DIV will be binded to the "./models/globalModel.js" Model -->
<div rv-model="'globalModel'" class="padding">
	<h2>{globalModel.title} <sub>(&crarr; globalModel.title)</sub></h2>
	<input type="button" rv-on-click="globalModel.loadView" value="Click to load View"> <sub>( &crarr; globalModel.loadView() )</sub>
	<input type="button" rv-on-click="globalModel.loadModel" value="Click to load/unload MODEL"> <sub>( &crarr; globalModel.loadModel() )</sub>
	<br>
	<br>
	<div class="padding-small inverted">
		<b>Current View :</b> <span rv-if="globalModel.currentView">"./views/{globalModel.currentView}.html"</span> |
		<b>Current Model : </b><span rv-if="globalModel.currentModel">"./models/{globalModel.currentModel}.js"</span>
	</div>
	<!-- The String stored in the "globalModel.currentView" variable will be used as view Name -->
	<!-- and corresponding View file "./views/{globalModel.currentView}.html" will be loaded inside the following DIV container -->
	<div rv-view="globalModel.currentView" class="padding border">**Imported View goes here**</div>
</div>
