body{ font-family: Verdana, Arial; font-size: 12px }
sub{font-size:11px; opacity:.5;}
.padding{ padding:20px;}
.padding-small{ padding:5px;}
.border{ border:1px solid lightgrey;}
.inverted{  background-color:lightgrey}
